<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_teahouse_def_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1089},{16,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,60}}</string>
                <key>sourceSize</key>
                <string>{16,64}</string>
            </dict>
            <key>bg_teahouse_def_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,438},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>bg_teahouse_def_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,910},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>bg_teahouse_def_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,619},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>bg_teahouse_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1069},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>bg_teahouse_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,309},{12,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,309}}</string>
                <key>sourceSize</key>
                <string>{14,311}</string>
            </dict>
            <key>bg_teahouse_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,338},{428,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,98}}</string>
                <key>sourceSize</key>
                <string>{428,98}</string>
            </dict>
            <key>bg_teahouse_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,244},{300,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,63}}</string>
                <key>sourceSize</key>
                <string>{300,63}</string>
            </dict>
            <key>bg_teahouse_title_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,945},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>bg_teahouse_title_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,726},{122,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,63}}</string>
                <key>sourceSize</key>
                <string>{122,63}</string>
            </dict>
            <key>bg_teahouse_title_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,438},{179,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,63}}</string>
                <key>sourceSize</key>
                <string>{179,63}</string>
            </dict>
            <key>bg_teahouse_title_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,880},{180,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,63}}</string>
                <key>sourceSize</key>
                <string>{180,63}</string>
            </dict>
            <key>bg_teahouse_title_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,510},{122,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,63}}</string>
                <key>sourceSize</key>
                <string>{122,63}</string>
            </dict>
            <key>bg_teahouse_title_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,438},{179,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,63}}</string>
                <key>sourceSize</key>
                <string>{179,63}</string>
            </dict>
            <key>bt_teahou_scorerank.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,872},{108,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>bt_teahouse_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,993},{74,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,69}}</string>
                <key>sourceSize</key>
                <string>{76,69}</string>
            </dict>
            <key>bt_teahouse_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,971},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bt_teahouse_cancel_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,808},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>bt_teahouse_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,270},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>bt_teahouse_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,438},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>bt_teahouse_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>bt_teahouse_createbattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,681},{266,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{266,85}}</string>
                <key>sourceSize</key>
                <string>{270,87}</string>
            </dict>
            <key>bt_teahouse_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,743},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>bt_teahouse_delmsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1004},{158,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,63}}</string>
                <key>sourceSize</key>
                <string>{162,65}</string>
            </dict>
            <key>bt_teahouse_detial.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,807},{108,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>bt_teahouse_dismiss.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,675},{108,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>bt_teahouse_edit.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1042},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bt_teahouse_endinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,489},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>bt_teahouse_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,742},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>bt_teahouse_greenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,323},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>bt_teahouse_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,584},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>bt_teahouse_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,800},{108,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>bt_teahouse_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,854},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>bt_teahouse_join_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,939},{158,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,63}}</string>
                <key>sourceSize</key>
                <string>{162,65}</string>
            </dict>
            <key>bt_teahouse_join_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,690},{108,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>bt_teahouse_kick.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,874},{158,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{158,63}}</string>
                <key>sourceSize</key>
                <string>{162,65}</string>
            </dict>
            <key>bt_teahouse_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,579},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>bt_teahouse_modify.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,469},{108,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,62}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>bt_teahouse_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,372},{158,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,64}}</string>
                <key>sourceSize</key>
                <string>{158,64}</string>
            </dict>
            <key>bt_teahouse_orangebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,323},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>bt_teahouse_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,342},{145,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{145,58}}</string>
                <key>sourceSize</key>
                <string>{149,64}</string>
            </dict>
            <key>bt_teahouse_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,690},{108,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>bt_teahouse_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,309},{148,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,64}}</string>
                <key>sourceSize</key>
                <string>{148,64}</string>
            </dict>
            <key>bt_teahouse_playrule.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,309},{158,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,61}}</string>
                <key>sourceSize</key>
                <string>{158,61}</string>
            </dict>
            <key>bt_teahouse_refuse.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,474},{108,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>bt_teahouse_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,726},{95,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{95,97}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>bt_teahouse_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,793},{176,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,85}}</string>
                <key>sourceSize</key>
                <string>{180,87}</string>
            </dict>
            <key>bt_teahouse_seach.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,960},{65,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{65,58}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>bt_teahouse_set_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,438},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>bt_teahouse_set_playrule.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,768},{266,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,84}}</string>
                <key>sourceSize</key>
                <string>{266,84}</string>
            </dict>
            <key>bt_teahouse_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1042},{52,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bt_teahouse_share_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,850},{108,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,66}}</string>
                <key>sourceSize</key>
                <string>{108,66}</string>
            </dict>
            <key>bt_teahouse_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,825},{16,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{16,33}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>bt_teahouse_sub.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,895},{74,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{76,33}</string>
            </dict>
            <key>bt_teahouse_take.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,706},{176,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{176,85}}</string>
                <key>sourceSize</key>
                <string>{180,87}</string>
            </dict>
            <key>bt_teahouse_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,850},{108,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{108,63}}</string>
                <key>sourceSize</key>
                <string>{112,65}</string>
            </dict>
            <key>cbt_teahouse_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{257,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{257,61}}</string>
                <key>sourceSize</key>
                <string>{265,65}</string>
            </dict>
            <key>cbt_teahouse_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,372},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>cbt_teahouse_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1010},{185,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,57}}</string>
                <key>sourceSize</key>
                <string>{185,57}</string>
            </dict>
            <key>flg_teahouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{217,203}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{217,203}}</string>
                <key>sourceSize</key>
                <string>{223,207}</string>
            </dict>
            <key>flg_teahouse_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1008},{80,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>flg_teahouse_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,459},{103,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>flg_teahouse_nocreate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{456,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,166}}</string>
                <key>sourceSize</key>
                <string>{456,166}</string>
            </dict>
            <key>flg_teahouse_nogame.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{356,240}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{356,240}}</string>
                <key>sourceSize</key>
                <string>{358,242}</string>
            </dict>
            <key>flg_teahouse_nojoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,166}}</string>
                <key>sourceSize</key>
                <string>{456,166}</string>
            </dict>
            <key>flg_teahouse_room_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,937},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,31}</string>
            </dict>
            <key>flg_teahouse_room_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,807},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,31}</string>
            </dict>
            <key>flg_teahouse_room_gaming.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,657},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,31}</string>
            </dict>
            <key>flg_teahouse_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,800},{30,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,33}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>flg_teahouse_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,959},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>line_teahouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{560,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,2}}</string>
                <key>sourceSize</key>
                <string>{560,2}</string>
            </dict>
            <key>rbt_teahouse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,1069},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>rbt_teahouse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,662},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>title_teahouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,825},{132,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,56}}</string>
                <key>sourceSize</key>
                <string>{132,56}</string>
            </dict>
            <key>title_teahouse_apply.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,638},{81,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,35}}</string>
                <key>sourceSize</key>
                <string>{83,37}</string>
            </dict>
            <key>title_teahouse_battledetail.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1069},{164,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,38}}</string>
                <key>sourceSize</key>
                <string>{164,38}</string>
            </dict>
            <key>title_teahouse_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,970},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>title_teahouse_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,309},{163,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,38}}</string>
                <key>sourceSize</key>
                <string>{163,38}</string>
            </dict>
            <key>title_teahouse_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1049},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{80,34}}</string>
                <key>sourceSize</key>
                <string>{84,38}</string>
            </dict>
            <key>title_teahouse_endinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1060},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,36}}</string>
                <key>sourceSize</key>
                <string>{84,36}</string>
            </dict>
            <key>title_teahouse_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,438},{241,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,53}}</string>
                <key>sourceSize</key>
                <string>{241,53}</string>
            </dict>
            <key>title_teahouse_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,221},{196,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,47}}</string>
                <key>sourceSize</key>
                <string>{196,47}</string>
            </dict>
            <key>title_teahouse_join_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,651},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{163,36}}</string>
                <key>sourceSize</key>
                <string>{165,38}</string>
            </dict>
            <key>title_teahouse_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,323},{193,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{193,47}}</string>
                <key>sourceSize</key>
                <string>{195,47}</string>
            </dict>
            <key>title_teahouse_message.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1020},{82,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>title_teahouse_modify.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1069},{164,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,38}}</string>
                <key>sourceSize</key>
                <string>{166,40}</string>
            </dict>
            <key>title_teahouse_playrule.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,689},{162,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,35}}</string>
                <key>sourceSize</key>
                <string>{164,37}</string>
            </dict>
            <key>title_teahouse_room_memmber.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,613},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,38}</string>
            </dict>
            <key>title_teahouse_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,575},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,38}</string>
            </dict>
            <key>title_teahouse_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,971},{83,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,38}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>title_teahouse_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,270},{162,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,37}}</string>
                <key>sourceSize</key>
                <string>{164,39}</string>
            </dict>
            <key>title_teahouse_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1011},{83,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,36}}</string>
                <key>sourceSize</key>
                <string>{87,38}</string>
            </dict>
            <key>title_teahouse_video.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,599},{81,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{83,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>teahouse.png</string>
            <key>size</key>
            <string>{1024,1111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b383b9cf9d8f49dd339749bf18ce522a:1/1$</string>
            <key>textureFileName</key>
            <string>teahouse.png</string>
        </dict>
    </dict>
</plist>
