<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_clock_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{803,686},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_clock_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{7,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{333,816},{7,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{848,319},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{817,1059},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{839,803},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{852,1424},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{852,1469},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{859,1514},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{839,713},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{839,758},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_clock_num_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{7,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{187,892},{7,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_match_pop_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,73}</string>
                <key>spriteSourceSize</key>
                <string>{92,73}</string>
                <key>textureRect</key>
                <string>{{777,1424},{90,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_match_slider_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,41}</string>
                <key>spriteSourceSize</key>
                <string>{56,41}</string>
                <key>textureRect</key>
                <string>{{187,1467},{56,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_match_slider_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,26}</string>
                <key>spriteSourceSize</key>
                <string>{53,26}</string>
                <key>textureRect</key>
                <string>{{848,64},{53,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_match_title_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{618,184}</string>
                <key>spriteSourceSize</key>
                <string>{624,184}</string>
                <key>textureRect</key>
                <string>{{1,892},{618,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_num_match_-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{1,1512},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{777,1516},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{25,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{187,1510},{25,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_num_match_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{694,1059},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{537,1480},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{245,1467},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_num_match_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{349,1537},{37,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_num_match_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{735,1059},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{776,1059},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{818,1516},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{298,1467},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{402,1537},{33,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_num_match_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{19,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{476,743},{19,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{645,1059},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{537,1533},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_num_match_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{537,1427},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,150}</string>
                <key>spriteSourceSize</key>
                <string>{178,150}</string>
                <key>textureRect</key>
                <string>{{597,1424},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,264}</string>
                <key>spriteSourceSize</key>
                <string>{298,264}</string>
                <key>textureRect</key>
                <string>{{597,1124},{298,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_revive_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,26}</string>
                <key>spriteSourceSize</key>
                <string>{61,26}</string>
                <key>textureRect</key>
                <string>{{848,1},{61,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_revive_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,26}</string>
                <key>spriteSourceSize</key>
                <string>{39,26}</string>
                <key>textureRect</key>
                <string>{{455,1537},{39,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_revive_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{848,119},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_revive_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{240,1510},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_revive_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{848,219},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_revive_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,26}</string>
                <key>spriteSourceSize</key>
                <string>{48,26}</string>
                <key>textureRect</key>
                <string>{{848,169},{48,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_revive_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{848,269},{48,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_tip_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,37}</string>
                <key>spriteSourceSize</key>
                <string>{348,37}</string>
                <key>textureRect</key>
                <string>{{1,1537},{346,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_tip_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,43}</string>
                <key>spriteSourceSize</key>
                <string>{399,43}</string>
                <key>textureRect</key>
                <string>{{803,1},{397,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_tip_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,46}</string>
                <key>spriteSourceSize</key>
                <string>{286,46}</string>
                <key>textureRect</key>
                <string>{{803,400},{284,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_tip_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,46}</string>
                <key>spriteSourceSize</key>
                <string>{381,46}</string>
                <key>textureRect</key>
                <string>{{597,743},{379,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,98}</string>
                <key>spriteSourceSize</key>
                <string>{343,98}</string>
                <key>textureRect</key>
                <string>{{497,1086},{339,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_btn_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,98}</string>
                <key>spriteSourceSize</key>
                <string>{343,98}</string>
                <key>textureRect</key>
                <string>{{497,743},{341,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_btn_revive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,95}</string>
                <key>spriteSourceSize</key>
                <string>{339,95}</string>
                <key>textureRect</key>
                <string>{{645,718},{339,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_btn_tuichu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,95}</string>
                <key>spriteSourceSize</key>
                <string>{339,95}</string>
                <key>textureRect</key>
                <string>{{742,718},{339,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_frame_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{889,211}</string>
                <key>spriteSourceSize</key>
                <string>{913,211}</string>
                <key>textureRect</key>
                <string>{{1,1},{889,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_frame_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{907,117}</string>
                <key>spriteSourceSize</key>
                <string>{913,117}</string>
                <key>textureRect</key>
                <string>{{214,1},{907,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_tip_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{813,141}</string>
                <key>spriteSourceSize</key>
                <string>{813,149}</string>
                <key>textureRect</key>
                <string>{{333,1},{813,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_tip_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,38}</string>
                <key>spriteSourceSize</key>
                <string>{147,38}</string>
                <key>textureRect</key>
                <string>{{497,1427},{147,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_tip_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,149}</string>
                <key>spriteSourceSize</key>
                <string>{740,149}</string>
                <key>textureRect</key>
                <string>{{476,1},{740,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_tip_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{719,149}</string>
                <key>spriteSourceSize</key>
                <string>{719,149}</string>
                <key>textureRect</key>
                <string>{{346,816},{719,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_tip_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{715,174}</string>
                <key>spriteSourceSize</key>
                <string>{715,180}</string>
                <key>textureRect</key>
                <string>{{627,1},{715,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>set_match_tip_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{555,157}</string>
                <key>spriteSourceSize</key>
                <string>{555,163}</string>
                <key>textureRect</key>
                <string>{{187,910},{555,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>match_setting.png</string>
            <key>size</key>
            <string>{885,1575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17ab98f6d7922f2baa6d875459c69565:ef78c1a498b0079acff8bd925a2bcd0d:a8c4a0975ac0bc16b0a6a34b5a4a64f9$</string>
            <key>textureFileName</key>
            <string>match_setting.png</string>
        </dict>
    </dict>
</plist>
