<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>match_award_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{179,273}</string>
                <key>spriteSourceSize</key>
                <string>{187,273}</string>
                <key>textureRect</key>
                <string>{{240,412},{179,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_bt_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{708,850},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_btn_daohang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,74}</string>
                <key>spriteSourceSize</key>
                <string>{248,74}</string>
                <key>textureRect</key>
                <string>{{562,308},{248,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_btn_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,64}</string>
                <key>textureRect</key>
                <string>{{804,1},{180,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{125,130}</string>
                <key>textureRect</key>
                <string>{{562,384},{125,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_btn_status_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{125,130}</string>
                <key>textureRect</key>
                <string>{{689,384},{125,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_btn_status_1_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,130}</string>
                <key>spriteSourceSize</key>
                <string>{125,130}</string>
                <key>textureRect</key>
                <string>{{816,352},{125,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_btn_status_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,130}</string>
                <key>spriteSourceSize</key>
                <string>{125,130}</string>
                <key>textureRect</key>
                <string>{{466,687},{123,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,193}</string>
                <key>spriteSourceSize</key>
                <string>{240,193}</string>
                <key>textureRect</key>
                <string>{{1,646},{240,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{268,164}</string>
                <key>spriteSourceSize</key>
                <string>{270,166}</string>
                <key>textureRect</key>
                <string>{{196,687},{268,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,76}</string>
                <key>spriteSourceSize</key>
                <string>{116,76}</string>
                <key>textureRect</key>
                <string>{{732,520},{116,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{817,744},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_ingot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{506,819},{67,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,127}</string>
                <key>spriteSourceSize</key>
                <string>{2,127}</string>
                <key>textureRect</key>
                <string>{{441,294},{2,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,246}</string>
                <key>spriteSourceSize</key>
                <string>{2,246}</string>
                <key>textureRect</key>
                <string>{{562,516},{2,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_medal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{980,349},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_medal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{980,403},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_medal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{980,457},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_share_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,101}</string>
                <key>spriteSourceSize</key>
                <string>{368,101}</string>
                <key>textureRect</key>
                <string>{{1,309},{368,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_status_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{719,638},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_status_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{825,637},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_status_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{711,744},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,42}</string>
                <key>spriteSourceSize</key>
                <string>{151,42}</string>
                <key>textureRect</key>
                <string>{{804,65},{151,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,42}</string>
                <key>spriteSourceSize</key>
                <string>{151,42}</string>
                <key>textureRect</key>
                <string>{{812,308},{151,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_3_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,42}</string>
                <key>spriteSourceSize</key>
                <string>{151,42}</string>
                <key>textureRect</key>
                <string>{{957,65},{151,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,42}</string>
                <key>spriteSourceSize</key>
                <string>{151,42}</string>
                <key>textureRect</key>
                <string>{{562,560},{151,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_detail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{957,218},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_kaisai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{518,584},{62,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_quantian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{102,111}</string>
                <key>spriteSourceSize</key>
                <string>{102,113}</string>
                <key>textureRect</key>
                <string>{{810,524},{102,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_text_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{371,309},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_text_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{914,524},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_tip_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,38}</string>
                <key>spriteSourceSize</key>
                <string>{135,38}</string>
                <key>textureRect</key>
                <string>{{816,484},{135,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_tip_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,35}</string>
                <key>spriteSourceSize</key>
                <string>{153,35}</string>
                <key>textureRect</key>
                <string>{{196,853},{153,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_tip_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,38}</string>
                <key>spriteSourceSize</key>
                <string>{168,38}</string>
                <key>textureRect</key>
                <string>{{562,520},{168,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_tip_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,35}</string>
                <key>spriteSourceSize</key>
                <string>{153,35}</string>
                <key>textureRect</key>
                <string>{{421,650},{123,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_tip_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,35}</string>
                <key>spriteSourceSize</key>
                <string>{153,35}</string>
                <key>textureRect</key>
                <string>{{351,853},{153,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_tip_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,35}</string>
                <key>spriteSourceSize</key>
                <string>{153,35}</string>
                <key>textureRect</key>
                <string>{{943,352},{123,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_tip_kaisaitime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,34}</string>
                <key>spriteSourceSize</key>
                <string>{121,34}</string>
                <key>textureRect</key>
                <string>{{931,614},{121,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,88}</string>
                <key>spriteSourceSize</key>
                <string>{442,88}</string>
                <key>textureRect</key>
                <string>{{1,219},{438,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_title_frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{611,107}</string>
                <key>spriteSourceSize</key>
                <string>{615,107}</string>
                <key>textureRect</key>
                <string>{{1,110},{611,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_title_frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{801,107}</string>
                <key>spriteSourceSize</key>
                <string>{805,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{801,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_bt_match_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{591,818},{70,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_bt_match_enter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,95}</string>
                <key>spriteSourceSize</key>
                <string>{339,95}</string>
                <key>textureRect</key>
                <string>{{421,309},{339,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_bt_match_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{341,97}</string>
                <key>spriteSourceSize</key>
                <string>{343,99}</string>
                <key>textureRect</key>
                <string>{{614,110},{341,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_clock_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{953,477},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_clock_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{7,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{371,399},{7,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_clock_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{854,863},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_clock_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{899,863},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_clock_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{935,790},{25,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_clock_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{583,219},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_clock_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{986,1},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_clock_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{554,604},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_clock_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{546,649},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_clock_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{923,817},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_clock_num_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{7,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{914,614},{7,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_match_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{341,97}</string>
                <key>spriteSourceSize</key>
                <string>{343,99}</string>
                <key>textureRect</key>
                <string>{{614,209},{341,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_match_frame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{591,604},{128,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_match_frame_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{118,82}</string>
                <key>textureRect</key>
                <string>{{591,734},{118,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_match_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{243,232}</string>
                <key>textureRect</key>
                <string>{{1,412},{237,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_match_rule_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{715,560},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_match_rule_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,42}</string>
                <key>spriteSourceSize</key>
                <string>{274,42}</string>
                <key>textureRect</key>
                <string>{{518,308},{274,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_match_share_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{140,73}</string>
                <key>spriteSourceSize</key>
                <string>{140,75}</string>
                <key>textureRect</key>
                <string>{{441,219},{140,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{894,796},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{965,308},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{25,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{801,863},{25,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{667,818},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{894,743},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{817,822},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{748,850},{37,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{870,822},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{935,737},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{958,522},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{976,716},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{958,575},{33,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{19,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{976,769},{19,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{967,610},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plaza_num_match_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{196,646},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plaza_num_match_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{967,663},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>match_plaza.png</string>
            <key>size</key>
            <string>{1017,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f3ffb8cf8c5685cf0584e59ff405986:0da4e5930f87afad1fea686bf25de756:82cce4d73d9eb8137220cdf90107f3e4$</string>
            <key>textureFileName</key>
            <string>match_plaza.png</string>
        </dict>
    </dict>
</plist>
