<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_match_btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{600,154},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_btn_daohang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,74}</string>
                <key>spriteSourceSize</key>
                <string>{248,74}</string>
                <key>textureRect</key>
                <string>{{1,110},{248,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_frame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,78}</string>
                <key>spriteSourceSize</key>
                <string>{156,78}</string>
                <key>textureRect</key>
                <string>{{315,110},{156,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_frame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{395,110},{128,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_frame_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{118,82}</string>
                <key>textureRect</key>
                <string>{{403,240},{118,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{523,154},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{243,232}</string>
                <key>textureRect</key>
                <string>{{81,110},{237,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_ingot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{531,232},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,127}</string>
                <key>spriteSourceSize</key>
                <string>{2,127}</string>
                <key>textureRect</key>
                <string>{{81,349},{2,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,246}</string>
                <key>spriteSourceSize</key>
                <string>{2,246}</string>
                <key>textureRect</key>
                <string>{{77,110},{2,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_medal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{600,230},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_medal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{638,230},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_medal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{36,52}</string>
                <key>textureRect</key>
                <string>{{634,305},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_rule_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,13}</string>
                <key>spriteSourceSize</key>
                <string>{10,13}</string>
                <key>textureRect</key>
                <string>{{531,310},{10,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_rule_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,42}</string>
                <key>spriteSourceSize</key>
                <string>{274,42}</string>
                <key>textureRect</key>
                <string>{{523,110},{274,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_match_text_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{315,268},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_text_rule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{359,268},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_tip_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,42}</string>
                <key>spriteSourceSize</key>
                <string>{88,42}</string>
                <key>textureRect</key>
                <string>{{487,240},{88,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_match_title_frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{801,107}</string>
                <key>spriteSourceSize</key>
                <string>{805,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{801,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,19}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{600,284},{39,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{672,305},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{25,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{487,330},{25,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_num_match_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{672,154},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{676,207},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{713,154},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{713,301},{37,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{682,260},{39,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_num_match_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{717,207},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{754,154},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{758,207},{39,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rank_num_match_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,51}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{540,325},{33,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_num_match_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{19,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{641,284},{19,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rank_num_match_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,51}</string>
                <key>textureRect</key>
                <string>{{593,310},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>match_rank.png</string>
            <key>size</key>
            <string>{803,359}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e531280355ce63b68b86a62c3de2217:185902291d5f29a348bdad154a722129:4240ed79081f0d611244c62b3a309f71$</string>
            <key>textureFileName</key>
            <string>match_rank.png</string>
        </dict>
    </dict>
</plist>
