<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_match_remind_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{1,247},{70,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{77,247},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{7,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{104,274},{7,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{77,292},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{104,247},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clock_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,41}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{581,290},{25,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{122,283},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{581,110},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{581,155},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{581,200},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{581,245},{25,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_num_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{7,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{147,274},{7,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_remind_line_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,246}</string>
                <key>spriteSourceSize</key>
                <string>{2,246}</string>
                <key>textureRect</key>
                <string>{{713,1},{2,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>match_remind_tip_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,38}</string>
                <key>spriteSourceSize</key>
                <string>{135,38}</string>
                <key>textureRect</key>
                <string>{{301,207},{135,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>match_remind_tip_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,38}</string>
                <key>spriteSourceSize</key>
                <string>{168,38}</string>
                <key>textureRect</key>
                <string>{{1,207},{168,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remind_match_btn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{339,97}</string>
                <key>spriteSourceSize</key>
                <string>{343,99}</string>
                <key>textureRect</key>
                <string>{{614,1},{339,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>remind_match_btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,95}</string>
                <key>spriteSourceSize</key>
                <string>{339,95}</string>
                <key>textureRect</key>
                <string>{{1,110},{339,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remind_match_frame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,126}</string>
                <key>textureRect</key>
                <string>{{171,207},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remind_match_icon_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,232}</string>
                <key>spriteSourceSize</key>
                <string>{243,232}</string>
                <key>textureRect</key>
                <string>{{342,110},{237,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remind_match_title_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{611,107}</string>
                <key>spriteSourceSize</key>
                <string>{615,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{611,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>match_remind.png</string>
            <key>size</key>
            <string>{716,343}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f363af824233a087cc6bea244a67e03:277edf0047e5ff45b37cda0cd2080154:4af8af72fccdc2a859dbe8748b6f0971$</string>
            <key>textureFileName</key>
            <string>match_remind.png</string>
        </dict>
    </dict>
</plist>
